.form-block {
   width: 100%;
   padding: 40px 0;
   background: url(../img/form-fon.webp) center / cover no-repeat;
}
.forms {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
}
.form {
   text-align: center;
   padding: 20px 10px 40px;
   background: #fff;
   max-width: 560px;
   margin: 20px;
   flex: 1 0 auto;
   height: 650px;
}
.form__title {
   font-size: 24px;
}
.form__item-name {
   margin: 10px;
   font-size: 16px;
}
.form__item {
   input{
      display: block;
      width: 100%;
   }
   margin: 10px;
}