.header{
   position: fixed;
   left: 0;
   top: 0;
   z-index: 3;
   width: 100%;
   background: #fff;
   box-shadow: 0 0px 5px #888;
}
.header__icon{
   width: 15px;
}
.header__info {
   background: $color-main;
   padding: 15px 0;
   font-size: 16px;
   .container{
      display: flex;
      align-items: center;
      justify-content:space-between;
   }
   a{
      color: #000;
      cursor: pointer;
   }
}
.header__location {
   img{
      margin-right: 10px;
   }display: flex;
   align-items: center;
   justify-content: center;
   
flex: 0 0 auto;
}
address{
   font-style: normal;
}
.header__connection {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   img{
      margin-right: 10px;
   }
   flex: 0 1 auto;
}
.header__tel {
   margin-right: 20px;
}
.header__icons {
   flex: 0 0 auto;
   display: flex;
   align-items: center;
   justify-content: center;
}
.header__icons-item {
   display: flex;
   align-items: center;
   justify-content: center;
   transition: all .3s;
   span{
      display: flex;
      align-items: center;
      justify-content: center;

   }
   button{
      font-size: 18px;
   }
   &:hover{
      opacity: .7;
   }
   &:active{
      opacity: .3;
      transition: all .01s;
   }
   padding: 0 10px ;
   border-left: 1px solid #ccc;
}
.header__respons{
   display: none;
align-items: center;
justify-content:space-between;
width: 100%;
}
@media (max-width:879px) {
   .header__respons{
      display: flex;
   }
   .header__icons , .header__connection , .header__location
   {display: none;}
}